.ThanksPage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:80vh ;
    justify-content: center;
    
}

.ThanksPage-container h1 {
    text-align: center;
    padding: 0px 50px;
}
.ThanksPage-container p {
    text-align: center;
    padding: 0px 50px;
}
.ThanksPage-container button {
    margin-top: 60px;
}